body {
    font-family: Arial Helvetica Neue Helvetica sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.header,.nav,.Footer {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
  }

.row {
    width : 495px;
    margin: auto;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Section {
    float: left;
    width: 56%;
    height: 200px;
    background: #ebebeb;
    text-align: center; 
}

.Aside {
    float: right;
    width: 40%;
    height: 200px;
    background: #ebebeb;
    text-align: center;
}

.Article {
    color: #ebebeb;
    background: #777;
    width: 90%;
    height: 120px;
    margin: auto;
    text-align: center;

}

.h {
    margin-left: auto;
    margin-right: auto;
    color: #777;
    background: #ebebeb;
    width: 90%;
    text-align: center;
}